@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Google Sans Code", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

span.title {
  font-weight: bold;
  font-size: large;
}

div#title-box,
div#login-box form,
div#addon-box {
  width: 380px;
  padding: 10px;
  background-color: #4444;
  border-radius: 10px;
  border: 1px solid #444;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

div#login-box input,
div#login-box button,
div#addon-box button {
  display: block;
  width: 360px;
  padding: 10px;
  border-radius: 5px;
  background-color: #4444;
  border: none;
  font-family: inherit;
}

div#login-box button,
div#addon-box button {
  background-color: #888;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  cursor: pointer;
}

div#login-box button:hover,
div#login-box button:focus,
div#addon-box button:hover,
div#addon-box button:focus {
  background-color: #666;
  color: #fff;
}